/*= GENERAL UTILITIES*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*= BODY */

.container-fluid{
    height: 100vh;
}

/*? ASIDE-ELEMENTS */
aside{
    width: 50px;
    height: calc(100vh - 90px);
    
    flex-direction: column;
    justify-content: space-between;
}

div.container-fluid aside:first-child div.row{
    padding: 0 10px;
}

div.container-fluid aside:first-child div.row div[class*=col-]{
    padding: 5px 0;
}

#aside-last-row{
}

/*? HEADER-ELEMENTS */
header{
    height: 90px;
    width: calc(100% - 50px);
    position:fixed;
    right: 0;
    background-color: #080b12;
    background-color: red;
    text-transform: uppercase;
    
    justify-content: flex-end;
    align-items: center;
}

header div.row div.col-12{
}

#upgrade-button{
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 25px;
}
/*? MAIN-ELEMENTS */
main{
    height: calc(100vh - 180px);
    background-color: #141922;


    flex-grow: 1;
    align-self: center;
}

/*? FOOTER-ELEMENTS */
footer{
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #282828;

    align-self: flex-end;
}