/*= GENERAL UTILITIES*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*? TEXT-ALIGN */
.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.color-light-grey{
    color: #7b7e82;
}

/*= BODY */

.container-fluid{
    height: 100vh;
}

/*? ASIDE-ELEMENTS */
aside{
    width: 50px;
    min-width: 50px;
    height: calc(100vh - 90px);
    position: fixed;
    
    flex-direction: column;
    justify-content: space-between;
}

div.container-fluid aside:first-child div.row{
    padding: 0 10px;
}

div.container-fluid aside:first-child div.row div[class*=col-]{
    padding: 5px 0;
}

#aside-last-row{
}

/*? HEADER-ELEMENTS */
header{
    height: 90px;
    width: calc(100% - 50px);
    position:fixed;
    right: 0;
    background-color: #080b12;
    background-color: red;
    text-transform: uppercase;
    
    justify-content: flex-end;
    align-items: center;
}

header div.row div.col-12{
}

#upgrade-button{
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 25px;
}
/*? MAIN-ELEMENTS */
main{
    height: calc(100vh - 180px);
    width: calc(100% - 50px);
    background-color: #141922;
    position: relative;
    right: -50px;
    align-self: center;
    padding: 20px;
    overflow-y: auto;
}

#main-first-row div{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#main-second-row{
    text-transform: capitalize;
 }

 #main-second-row h2{
    font-size: 20px;
    margin: 40px 0;
 }

 div.main-song-box{
     flex-basis: 200px;
     margin: 0 10px;
 }

 #main-second-row img{
    width: 100%;
 }

 #main-second-row h3{
     margin: 25px 0 15px 0;
 }

/*? FOOTER-ELEMENTS */
footer{
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #282828;

    align-self: flex-end;
}